<div id="editing">
	<center>
	<h1>Editar Pessoa</h1>
	</center>

		<%= render 'form' %>


			<div id="showBack">
					<%= link_to 'Show', @pessoa %> |
					<%= link_to 'Back', pessoas_path %>

			</div>
</div>
